@import '../../assets/styles/_variable.scss';

.expertise  {
    display: flex;
    flex-flow: column;
    gap: 30px;
    color: $mainBlue;
    
    &-container {
        display: flex;
        flex-flow: row;
        gap: 30px;

        &-company {
            width: 82px;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            gap: 5px;
        }

        &-job {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }
    }
    
}

