@import '../../assets/styles/_variable.scss';

.photobox {
    max-width: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 10px;
    position: relative;
    margin: 0 auto;
    color: $white;
    
    .photobox-image {
        border: 1px solid $white;
        border-radius: 50%;

        &.large {
            width: 163px;
            height: 163px;
        }

        &.small {
            width: 100px;
            height: 100px;
            
        }
    }

    .photobox-name {
        font-weight: 700;
        color: $white;

        &.large {
            font-size: 45px;
            line-height: 54px;
        }

        &.small {
            font-size: 16px;
            line-height: 19px;
            
        }
    }

    .photobox-title {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: $white;
    }

    .photobox-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $white;
    }

}

@media(max-width: 600px) {
    .photobox .photobox-image.small{
        width: 40px;
        height: 40px;
        
    }

    .photobox-name {
        display: none;
    }
}