@import '../../assets/styles/_variable.scss';

.button {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    height: 40px;
    align-items: center;
    color: $white;
    border-radius: 5px;
    background-color: $mainBlue;
    border: 1px solid $mainBlue;
    display: flex;
    gap: 13px;
    

    &.textExists {
        padding: 10px 20px;
    }
    
    &.noText {
        width: 30px;
        height: 30px;
        padding: 7px;
    }

    *{
        color: inherit;
    }

    &:hover {
        background-color: $green;
        border: 1px solid $green;
        cursor: pointer;
    }
}

@media(max-width: 600px) {
    .button {
        padding: 2px 20px;
        gap: 0;
    }

}