@import '../../assets/styles/_variable.scss';

.feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 15px 0;
   
    
    &-author {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 0;

        &.image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        &.user {
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
        }

        &-user.website {
            color: $green;
            text-decoration: none;
        }
    }
}

