.inner-page-container {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.inner-page-content {
    position: relative;
    margin-top: 40px;
    margin-right: 36px;
}

.go-up-button {
    position: fixed;
    bottom: 0;
    right: 20px;
}
