@import '../../../assets/styles/_variable.scss';

.portfolio-info {
    position: relative;
    width: 308px;
    height: 194px;
    overflow: hidden;

    &:hover &-data{
        top: 0; 
    }

    &-data {
        width: 308px;
        height: 194px;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 20px 15px;
        background: white;
        opacity: 90%;
        border: 1px solid #ddd;
        box-sizing: border-box;
        transition: all 0.5s ease 0s;
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;

        h3 {
            color: $green;
        }

        a {
            text-decoration: underline;
            cursor: pointer;
            color: $green;
        }
    }
}
