@import '../../assets/styles/_variable.scss';

.address {
    &-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        

        &-item {
            display: flex;
            flex-direction: row;
            gap: 20px;
            
            &-icon {
                width: 30px;
                * {
                    color: $green;
                }
            }

            &-contact  h3 {
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: $mainBlue;
            }
            
            &-contact {
                a{
                    text-decoration: none
                }

                &-action:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

