@import '../../assets/styles/_variable.scss';

.panel-box-container {
    position: relative;
    width: 300px;
    transition: 900ms;
    overflow: hidden;

    &.panel-hide{
        width: 54px;
    }
}

.panel-box{
    display: flex;
    position: fixed;
    left: 0;
    width: 300px;
    transition: all  500ms linear;
    height: 100%;

    &.panel-hide {
        left: -250px;
        width: 54px;
        transition: all  500ms linear;
    }

    .menu-toggler {
        position: relative;
        top: 20px;
        left: -5px;
        height: 30px;
    }
}

.panel {
    
    height: 100%;
    background-color: $mainBlue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
    left: 0px;
    
    .panel-photobox-navigation {
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: relative;
        top: 20px;
    }


    .panel-photobox-button {
        position: relative;
        bottom: 10px;
    }

}

@media(max-width: 600px) {

    .panel-box {
        width: 108px;

        &.panel-hide {
            
            width: 54px; 
        }
    }

    .panel-box.panel-hide {
        left: -54px;
    }

    .button-text-toggler {
        display: none;
    }

    .panel-box-container{
        width: 108px;
    }
 
}
