@import '../../assets/styles/_variable.scss';

.nav {
    width: 250px;    
    
    *{
        color: $ravenGray;
    }

    &-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        
    }

    &-list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 18px 20px;
        height: 60px;
        color: $ravenGray;

        &-text {
            font-size: 16px;
            line-height: 19px;
        }
    }

    &-list-item:hover *{
        color: $green;
        font-weight: 600;
        cursor: pointer;
    }
}

.nav-link {
    *{
        color: $green;
    }
}

@media (max-width: 600px) {
    .nav {
        width: 54px;
    }

    .nav-list-item-text {
        display: none;
    }
}

