@import '../../assets/styles/_variable.scss';

.timeline-container {
    min-height: 30vh;
    max-height: 80vh;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    align-content: flex-start;
    overflow: scroll;

    &-info {
        display: flex;
        gap: 35px;
        position: relative;

        &-line {
            width: 5px;
            background-color:  $green;
            height: 100%;
            position: absolute;
            left: 16px;
        }

        &-date {
            background: $white;
            padding: 15px;
            height: 50px;
            position: relative;
            left: -15px;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }

        &-box {
            position: relative;

            &-flag {
                position: absolute;
                top: 15px;
                left: -10px;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid #eee;
            }
        
            &-title{
                background-color: $galGray;
                padding: 15px;
            }
        }
    }
}
