@import '../../assets/styles/_variable.scss';

.info-text {
        background-color: $galGray;
        font-style: normal;
        font-weight: 400px;
        font-size: 14px;
        line-height: 21px;
        padding: 15px;
}