.home-container {
    width: 100vw;
    height: 100vh;
    background: url('../../assets/images/Home-background.png');

    &-layout {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000614;
        opacity: 0.7;
        z-index: 0;
    }

    &-header {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 10px;
        position: relative;
        top: 124px;
    }
}