@import '../../../assets/styles/_variable.scss';

.filter-container{
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;

    &-button {
        font-size: 16px;
        line-height: 19px;
        background-color: white;
        border: none;
        outline: none;
        cursor: pointer;
        
        &:hover {
            color: green;
        }

        &.active  {
            color: $green;
        }
    }
}

